@font-face {
  font-family: "GE SS Two Medium";
  src: url("../fonts/GE-SS-Two-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham/Gotham-Medium.otf") format("opentype");
}

input{
  font-family: "Gotham Medium" !important;
}

li, button, p, h1, h2, h3, h4, h5, h6, span {
  font-family: "GE SS Two Medium" !important;
}

input::placeholder {
  font-size: 12px;
}

.reg-btn:hover, .reg-btn:active, .reg-btn:focus {
  outline: 0px!important;
}

input:focus {
  border: 0px!important;
}

#payment-form {
  direction: ltr;
}

.list-inline.stors-banner {
  direction: ltr;
}
#video {
    width:100%;
}

@media screen and (max-width: 1227px) {
  .header-bg{
    background-size: cover!important;
  }
}