{% load wagtailcore_tags wagtailimages_tags %}

<div class="title-img-title">
    {{ self.title }}
</div>
<div class="title-img-wrapper">
    {% for img in self.img_desc %}
        <div class="img-desc-wrapper">
            {% image img.img original format-webp as img_obj %}
            <div style="text-align: center;">
                <img src="{{ img_obj.url }}">
            </div>
            <div class="desc">
                {{ img.description }}
            </div>
        </div>
    {% endfor %}
</div>