
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    {% include "home/tagmanager_head.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./images/DS-favicon.png">

    <link href='https://fonts.googleapis.com/css?family=Cairo:100,200,300,400,500,600,700' rel='stylesheet'>

    <!-- custom style -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/default.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//preg.dspearhead.com/scripts/external/handlebars-4.1.2.min.js"></script>

    <!-- JS -->
    <script src="//preg.dspearhead.com/scripts/legal_data.js"></script>
    <script src="//preg.dspearhead.com/scripts/helper_002.js"></script>
    <script src="//preg.dspearhead.com/scripts/plexop_api_2.0.js"></script>
    <script src="//preg.dspearhead.com/scripts/validationjs/validate.min.js"></script>
    <script src="//preg.dspearhead.com/scripts/validationjs/plexop_validation_loc.js"></script>
    <script src="//preg.dspearhead.com/scripts/validationjs/plexop_validation.js"></script>
    <script src="//preg.dspearhead.com/scripts/naxex.js"></script>

    <script>
        var lang = 'ar';
    </script>

    <script src="//preg.dspearhead.com/nx-scripts/external/intl-tel-input/js/intlTelInput.min.js"></script>
    <script src="//preg.dspearhead.com/nx-scripts/external/intl-tel-input/js/intlTelInput-jquery.min.js"></script>
    <script src="//preg.dspearhead.com/nx-scripts/nxreg/nxreg.js"></script>

    <script type="text/javascript">
        var urlVars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            urlVars[key.toLowerCase()] = value;
        });
        if (urlVars['istest']) {
            location.href = '//preg.dspearhead.com/aserving/_blank.htm';
        }
    </script>

<title>Digital Spearhead</title>
</head>

<body>    

    <script type="text/javascript">
        var language = "ar";
        $(document).bind("initSignUp_finished", function () {
        var ld = new LegalData('Spearhead', language);
        });
    </script>

    <div id="wrapper" class="wrapper">

        <img src="//preg.dspearhead.com/aserving/4/1/1705/files/70717_mobile - 2021-01-14T112614.208 (1).png" class="img-fluid w-100 d-block d-md-none lp-action" alt="">
        <img src="//preg.dspearhead.com/aserving/4/1/1705/files/70717_Frame 1 (83) (1).png" class="img-fluid w-100 d-none d-md-block d-lg-none lp-action" alt="">

        <header class="header d-none d-lg-block lp-action" style="background: url('//preg.dspearhead.com/aserving/4/1/1705/files/70717_Frame 1 (83) (1).png') no-repeat center; background-size: cover; height: 850px;">
       
        </header>

        <main>
            <div class="form-container">
                <div class="nxreg lp-form-section"></div>
            </div>

            <div class="colored-section">
                <div class="container trading-steps">
                    <div class="row">
                        <div class="col-12">
                            <p style="font-size: 30px;padding-bottom: 30px; padding-bottom: 45px;">
                                <strong> البدء أمر بسيط. قم بالوصول: </strong>
                            </p>
                        </div>

                        <div class="col-12 col-md mb-4">
                            <img src="./images/1.png" class="img-fluid mb-3 lp-action" alt="icon 1">
                            <p>   إمكانية الوصول إلى مجموعة واسعة من الأصول القابلة للتداول  </p>
                        </div>

                        <div class="col-12 col-md mb-4">
                            <img src="./images/2.png" class="img-fluid pb-4 lp-action" style="padding-top: 11px"
                                alt="icon 2">
                            <p>   أدوات تعلم بسيطة  </p>
                        </div>
                        <div class="col-12 col-md mb-4">
                            <img src="./images/3.png" class="img-fluid mb-3 lp-action" alt="icon 3">
                            <p>   منصة تداول متطورة </p>
                        </div>
                        <div class="col-12 col-md mb-4">
                            <img src="./images/4.png" class="img-fluid mb-3 lp-action" alt="icon 4">
                            <p>  دعم متعدد اللغات على مدار 24 ساعة  </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 cta-section pt-4">
                            <a class="btn cta-btn lp-action">  ﺳﺠﻞ ﻭﺍﺑﺪﺃ ﺑﺎﻟﻜﺴﺐ  </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="pt-5">
            <div class="container">
                <div class="logo">
                    <a href="https://www.dspearhead.com/" target="_blank">
                        <img src="./images/logo.png" alt="logo">
                        <br><br>
                    </a>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 link-box">
                        <a href="https://www.dspearhead.com/legal-privacy-policy" target="_blank"
                            class="links">  سياسة الخصوصية </a>
                            <a href="https://www.dspearhead.com/" target="_blank" class="links">   اتصل بنا </a>
                            <a href="https://www.dspearhead.com/legal-terms-and-conditions" target="_blank"
                            class="links">  الشروط والأحكام </a>
                            <br><br>
                    </div>
                </div>

                <div>
                    <div class="text-disclaimer" data-lgl="disclaimer">
                        Disclaimer
                    </div>
                </div>
                <br><br>
            </div>
        </footer>
    </div>

    <!-- FORM SCRIPT -->
    <script id="nxreg-sign-up-template" type="text/x-handlebars-template">
        <div class="nx-signup">

			<div class="nx-signup-form nx-signup__form">
			<h1 class="text-center nx-signup__form__heading"> ﺳﺠﻞ ﺍﻟﺂﻥ ﻭﺍﺣﺼﻞ ﻋﻠﻰ ﺟﻠﺴﺔ ﺗﺪﺭﻳﺐ ﻣﺠﺎﻧﻴﺔ  </h1>

				<form autocomplete="off" method="post" action="#" id="mainForm" class="nxreg-sign-up-form needs-validation form-wrapper main-form" novalidate>

				<input type="hidden" name="recaptcha-token" id="recaptcha-token" value="" />
				<div class="container">
				    <div class="row justify-content-center">     
						   <div class="container-special">
                          
                            <div class="form-group nx-form-group col-12 ">
                                <!-- <label hidden for="fullname" class="">{{strings.nxReg_i18n_SignUp_FullName}}</label> -->
                                <input autocomplete="false" type="text" class="form-control  nxreg-sign-up-full-name" id="fullname" name="RegistrationModel.FullName" placeholder="الاسم بالكامل" pattern="{{settings.nxReg_Validation_FullNameRegEx}}" required>
                                <div class="invalid-feedback">
                                    {{strings.nxReg_i18n_SignUp_FullNameError}}
                                </div>
                            </div>
                            
					<div class="form-group nx-form-group col-12 ">
						<!-- <label for="email" hidden class="">{{strings.nxReg_i18n_SignUp_Email}}</label> -->
						<input autocomplete="false" type="email" class="form-control " id="email" name="RegistrationModel.Email" placeholder='البريد الإلكتروني' pattern="{{settings.nxReg_Validation_EmailRegEx}}" required>
						<div class="invalid-feedback">
							{{strings.nxReg_i18n_SignUp_EmailWrongFormatError}}
						</div>
					</div>

					<div class="form-group nx-form-group password-eye col-12">
						<span class="password-eye__icon"></span>
						<label for="password" class="">{{strings.nxReg_i18n_SignUp_Password}}</label>
						<input autocomplete="false" type="password" class="form-control " id="password" placeholder="" required>
						<div class="invalid-feedback">
							{{strings.nxReg_i18n_SignUp_PasswordWrongError}}
						</div>
					</div>

					<div class="form-group nxreg-sign-up-phone-number-wrapper col-12 z-index-99">
						<!-- <label hidden for="phone-number" class="">{{strings.nxReg_i18n_SignUp_PhoneNumber}}</label> -->
						<div class="input-group">
							<input type="tel" class="form-control nxreg-sign-up-phone-number " placeholder="رقم الهاتف" id="phone-number" required>
							<div class="invalid-feedback nxreg-sign-up-phone-number-error">
							</div>
						</div>
					</div>
				
					<div class="form-group nx-form-group col-12">
						<!-- <label for="email" hidden class="">{{strings.nxReg_i18n_SignUp_Country}}</label> -->
	
						<select class="form-control nxreg-sign-up-country" required></select>
	
						<!-- <input autocomplete="false" type="text" class="form-control nxreg-sign-up-full-name" id="fullname" name="RegistrationModel.FullName" placeholder="{{strings.nxReg_i18n_SignUp_FullName}}" pattern="{{settings.nxReg_Validation_FullNameRegEx}}" required> -->
	
						<div class="invalid-feedback">
						</div>
					</div>

                        <div class=" col-12 terms-row order-3 order-lg-5">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="privacy-notice" checked name="privacy-notice" required>
                                <div class="invalid-feedback check-invalidMsg">
                                </div>
                            </div>
                            {{else}}
                            <div class="form-group">
                                <div class="pt-2 pb-2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12 server-error-body align-self-center mb-0">
                            <div id="msgContainer" class="nxreg-server-error-wrapper  error-message"></div>
                        </div>

                        <div class="form-group col-12 px-0 mb-3 order-8">
                            <button type="submit" class="btn reg-btn submit-btn">  ﺳﺠﻞ ﻭﺍﺑﺪﺃ ﺑﺎﻟﻜﺴﺐ  </button>
                        </div>

                        <div class="form-group col-12 mb-3 order-8">
                          <p class="cfd">للاستثمار في أمازون يجب أن يكون عمرك أكثر من 18 عاماً</p>
                        </div>

                        <div class="form-group col-12 mb-3 order-8">
                           <img src="./images/dss.png" class="img-fluid" alt="">
                          </div>
					</div>
                </div>
				<!-- <a class="d-block text-center small mt-4" href="{{settings.nxReg_SignInUrl}}">{{strings.nxReg_i18n_SignUp_SignIn}}</a> -->
				</form>

			</div>
		</div>
	</script>

    {% load wagtailcore_tags wagtailimages_tags %}
    {% for block in self.redirection %}
        {% include_block block %}
    {% endfor %}

    <script>
        var country_code_server = "{{ country_code }}";
    </script>

    <script id="nxreg-sign-up-password-template" type="text/x-handlebars-template">
        <div class="nx-signup  respond-card">

        <div class="nx-signup-form nx-signup__form card-respond-wrapper">
            <br>
            <div class="mb-4 respond-body">
                <div class="card-body">
                    <div class="d-inline">
                    </div>
                    <br>
                    <div class="d-inline text-align-centr">
                    </div>
                </div>
            </div>

           
        </div>
    </div>
    </script>

    <script id="nxreg-thankYou-wl-template" type="text/x-handlebars-template">
        <div class="overlay" id="thankYouPage" style="display: block;">
            <div class="container px-0 d-flex align-items-center">
                <div class="row thank-you-msg d-flex align-items-center">
                    <div class=" col-12 img-wrapp">
                        <img src="./images/thanks-img.png" class="img-fluid" alt="thank you img">
                    </div>

                    <div class="col-12 msg-wrapp">
                        <br class="d-none d-lg-block">
                        <h3> الف مبروك! </h3>
                        <br>
                        <p>شكرا لاشتراكك. <br> سيتم التواصل معك خلال 24/48 الساعة القريبة</p>

                        <p>انتبه لجوالك! <img src="./images/emoji.png"></p>
                        <br>
                        <a href="javascript:window.location.reload(true)" class="confirm" id="confirm"><strong>OK</strong></a>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="nxreg-loader-template" type="text/x-handlebars-template">
        <div class="preloader nxreg-loader">
			<div class="loader">
				<div class="loader__bar loaderOne"></div>
				<div class="loader__bar loaderTwo"></div>
				<div class="loader__bar loaderThree"></div>
				<div class="loader__bar loaderFour"></div>
				<div class="loader__bar loaderFive"></div>
				<div class="loader__ball"></div>
			</div>
		</div>
	</script>

    <script src="scripts/script.js"></script>
    <script src="{% static 'script/redirect_script.js'%}"></script>
</body>

</html>